@charset "UTF-8";
@import url(../css/normalize.css);
/* Système de grille composé de 12 colonnes */
/* Goutière  20px */
/* Taille colonne 60px */
/*  Option générale  */
/* line 20, ../scss/screen.scss */
body {
  font: normal 15px Helvetica, Arial, Sans-Serif;
  line-height: 1.5;
  background-image: url("../images/grid_paper.png"); }

/* line 26, ../scss/screen.scss */
#header div, #footer div, #container {
  width: 960px;
  margin: 0 auto; }

/* line 33, ../scss/screen.scss */
#header, #footer {
  background-image: url("../images/blackorchid.png"); }

/* line 39, ../scss/screen.scss */
#container:after, #header:after {
  clear: both;
  content: "";
  display: block;
  overflow: hidden;
  height: 1px; }

/*  Header  */
/* line 51, ../scss/screen.scss */
#logo {
  width: 140px;
  margin: 0 10px;
  display: inline-block;
  float: left;
  padding-top: 0.4em; }

/* line 61, ../scss/screen.scss */
#header nav {
  width: 380px;
  margin: 0 10px;
  display: inline-block;
  vertical-align: top;
  float: right; }
/* line 69, ../scss/screen.scss */
#header nav ul {
  padding: 0;
  margin: 0; }
/* line 74, ../scss/screen.scss */
#header nav li {
  margin: 0 0.8em;
  display: inline-block; }
/* line 79, ../scss/screen.scss */
#header nav a {
  display: block;
  font-size: 1.2em;
  padding: 1.35em 0.75em;
  text-align: center;
  color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
/* line 89, ../scss/screen.scss */
#header nav a:hover {
  background-image: url("../images/whiteorchid.png");
  color: black;
  font-size: 1.2em;
  padding: 1.35em 0.75em; }

/*  Bannière  */
/* line 103, ../scss/screen.scss */
#banner {
  width: 940px;
  margin: 0 10px;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 20px; }
/* line 109, ../scss/screen.scss */
#banner figure img {
  vertical-align: middle; }

/*  Sticky footer  */
/* line 10, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%; }

/* line 12, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -40px; }
/* line 18, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#container #layout_footer {
  height: 40px; }

/* line 20, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 40px; }

/*  Titre de section caché  */
/* line 121, ../scss/screen.scss */
.hidden {
  position: absolute;
  left: -9999px; }

/*  Presentation  */
/* line 130, ../scss/screen.scss */
#presentation {
  width: 940px;
  margin: 0 10px;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px; }
/* line 137, ../scss/screen.scss */
#presentation article {
  width: 460px;
  margin: 0 10px;
  display: inline-block;
  vertcal-align: top;
  margin-left: 0;
  line-height: 1.6;
  float: left; }
/* line 145, ../scss/screen.scss */
#presentation article h1 {
  font-size: 1.85em;
  margin: 0; }
/* line 153, ../scss/screen.scss */
#presentation article p {
  margin: 0.5em 0 0 0; }
/* line 163, ../scss/screen.scss */
#presentation #skill {
  width: 460px;
  margin: 0 10px;
  display: inline-block;
  float: right;
  list-style-type: none;
  padding: 0px;
  margin: 0.7em 0 0 10px;
  vertical-align: top; }

/*  Barre de compétence  */
/* line 180, ../scss/screen.scss */
#skill li {
  width: 220px;
  margin: 0 10px;
  display: inline-block;
  background: #e9e5e2;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e1ddd9), color-stop(100%, #e9e5e2));
  background-image: -webkit-linear-gradient(top, #e1ddd9, #e9e5e2);
  background-image: -moz-linear-gradient(top, #e1ddd9, #e9e5e2);
  background-image: -o-linear-gradient(top, #e1ddd9, #e9e5e2);
  background-image: linear-gradient(top, #e1ddd9, #e9e5e2);
  height: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
  -moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
  box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc; }
/* line 190, ../scss/screen.scss */
#skill li:nth-child(odd) {
  margin: 2.5em 8px 0 0; }
/* line 195, ../scss/screen.scss */
#skill li:nth-child(even) {
  margin: 2em 0 0 8px; }

/* line 203, ../scss/screen.scss */
#skill li h3 {
  text-transform: uppercase;
  font: 16px "HelveticaNeue-CondensedBold", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #9a9795;
  text-align: center;
  width: 220px;
  margin: 0 10px;
  display: inline-block;
  text-shadow: 0px 1px 1px #f8f8f8 0px 1px #aaaaaa;
  position: relative;
  top: -25px; }

/* line 219, ../scss/screen.scss */
.bar {
  height: 18px;
  margin: 1px 2px;
  position: absolute;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
  -moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
  box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
  width: 220px;
  margin: 0 10px;
  display: inline-block;
  margin: 0 10px 0 0; }

/* line 236, ../scss/screen.scss */
.graphic-design {
  width: 132px;
  -moz-animation: graphic-design 2s ease-out;
  -webkit-animation: graphic-design 2s ease-out;
  -ms-animtion: graphic-design 2s ease-out;
  -o-animtion: graphic-design 2s ease-out;
  animation: graphic-design 2s ease-out;
  background-color: #e06995;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f674a4), color-stop(100%, #e06995));
  background-image: -webkit-linear-gradient(top, #f674a4, #e06995);
  background-image: -moz-linear-gradient(top, #f674a4, #e06995);
  background-image: -o-linear-gradient(top, #f674a4, #e06995);
  background-image: linear-gradient(top, #f674a4, #e06995); }

/* line 244, ../scss/screen.scss */
.html-css {
  width: 198.0px;
  -moz-animation: html-css 2s ease-out;
  -webkit-animation: html-css 2s ease-out;
  -ms-animtion: html-css 2s ease-out;
  -o-animtion: html-css 2s ease-out;
  animation: html-css 2s ease-out;
  background-color: #d9aa44;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0bb4b), color-stop(100%, #d9aa44));
  background-image: -webkit-linear-gradient(top, #f0bb4b, #d9aa44);
  background-image: -moz-linear-gradient(top, #f0bb4b, #d9aa44);
  background-image: -o-linear-gradient(top, #f0bb4b, #d9aa44);
  background-image: linear-gradient(top, #f0bb4b, #d9aa44); }

/* line 252, ../scss/screen.scss */
.jquery {
  width: 176px;
  -moz-animation: jquery 2s ease-out;
  -webkit-animation: jquery 2s ease-out;
  -ms-animtion: jquery 2s ease-out;
  -o-animtion: jquery 2s ease-out;
  animation: jquery 2s ease-out;
  background-color: #91ba52;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a1ce5b), color-stop(100%, #91ba52));
  background-image: -webkit-linear-gradient(top, #a1ce5b, #91ba52);
  background-image: -moz-linear-gradient(top, #a1ce5b, #91ba52);
  background-image: -o-linear-gradient(top, #a1ce5b, #91ba52);
  background-image: linear-gradient(top, #a1ce5b, #91ba52); }

/* line 260, ../scss/screen.scss */
.wordpress {
  width: 154px;
  -moz-animation: wordpress 2s ease-out;
  -webkit-animation: wordpress 2s ease-out;
  -ms-animtion: wordpress 2s ease-out;
  -o-animtion: wordpress 2s ease-out;
  animation: wordpress 2s ease-out;
  background-color: #5da3ba;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #66b3cc), color-stop(100%, #5da3ba));
  background-image: -webkit-linear-gradient(top, #66b3cc, #5da3ba);
  background-image: -moz-linear-gradient(top, #66b3cc, #5da3ba);
  background-image: -o-linear-gradient(top, #66b3cc, #5da3ba);
  background-image: linear-gradient(top, #66b3cc, #5da3ba); }

/* line 267, ../scss/screen.scss */
.codeignieter {
  width: 154px;
  -moz-animation: codeignieter 2s ease-out;
  -webkit-animation: codeignieter 2s ease-out;
  -ms-animtion: codeignieter 2s ease-out;
  -o-animtion: codeignieter 2s ease-out;
  animation: codeignieter 2s ease-out;
  background-color: #ba5d5d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cc7070), color-stop(100%, #ba5d5d));
  background-image: -webkit-linear-gradient(top, #cc7070, #ba5d5d);
  background-image: -moz-linear-gradient(top, #cc7070, #ba5d5d);
  background-image: -o-linear-gradient(top, #cc7070, #ba5d5d);
  background-image: linear-gradient(top, #cc7070, #ba5d5d); }

/* line 275, ../scss/screen.scss */
.drupal {
  width: 110.0px;
  -moz-animation: codeignieter 2s ease-out;
  -webkit-animation: codeignieter 2s ease-out;
  -ms-animtion: codeignieter 2s ease-out;
  -o-animtion: codeignieter 2s ease-out;
  animation: codeignieter 2s ease-out;
  background-color: #5dba5f;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #70cc8e), color-stop(100%, #5dba5f));
  background-image: -webkit-linear-gradient(top, #70cc8e, #5dba5f);
  background-image: -moz-linear-gradient(top, #70cc8e, #5dba5f);
  background-image: -o-linear-gradient(top, #70cc8e, #5dba5f);
  background-image: linear-gradient(top, #70cc8e, #5dba5f); }

/*  Fonction de déclanchement d'animation  */
@-moz-keyframes graphic-design {
  /* line 285, ../scss/screen.scss */
  0% {
    width: 0px; }

  /* line 285, ../scss/screen.scss */
  100% {
    width: graphicWidthpx; } }

@-moz-keyframes html-css {
  /* line 286, ../scss/screen.scss */
  0% {
    width: 0px; }

  /* line 286, ../scss/screen.scss */
  100% {
    width: htmlWidthpx; } }

@-moz-keyframes jquery {
  /* line 287, ../scss/screen.scss */
  0% {
    width: 0px; }

  /* line 287, ../scss/screen.scss */
  100% {
    width: jqueryWidthpx; } }

@-moz-keyframes wordpress {
  /* line 288, ../scss/screen.scss */
  0% {
    width: 0px; }

  /* line 288, ../scss/screen.scss */
  100% {
    width: wordpressWidthpx; } }

@-moz-keyframes codeignieter {
  /* line 289, ../scss/screen.scss */
  0% {
    width: 0px; }

  /* line 289, ../scss/screen.scss */
  100% {
    width: codeignieterWidthpx; } }

@-moz-keyframes drupal {
  /* line 290, ../scss/screen.scss */
  0% {
    width: 0px; }

  /* line 290, ../scss/screen.scss */
  100% {
    width: drupalWidthpx; } }

@-webkit-keyframes graphic-design {
  /* line 292, ../scss/screen.scss */
  0% {
    width: 0px; }

  /* line 292, ../scss/screen.scss */
  100% {
    width: graphicWidthpx; } }

@-webkit-keyframes html-css {
  /* line 293, ../scss/screen.scss */
  0% {
    width: 0px; }

  /* line 293, ../scss/screen.scss */
  100% {
    width: htmlWidthpx; } }

@-webkit-keyframes jquery {
  /* line 294, ../scss/screen.scss */
  0% {
    width: 0px; }

  /* line 294, ../scss/screen.scss */
  100% {
    width: jqueryWidthpx; } }

@-webkit-keyframes wordpress {
  /* line 295, ../scss/screen.scss */
  0% {
    width: 0px; }

  /* line 295, ../scss/screen.scss */
  100% {
    width: wordpressWidthpx; } }

@-webkit-keyframes codeignieter {
  /* line 296, ../scss/screen.scss */
  0% {
    width: 0px; }

  /* line 296, ../scss/screen.scss */
  100% {
    width: codeignieterWidthpx; } }

@-webkit-keyframes drupal {
  /* line 297, ../scss/screen.scss */
  0% {
    width: 0px; }

  /* line 297, ../scss/screen.scss */
  100% {
    width: drupalWidthpx; } }

@-ms-keyframes graphic-design {
  /* line 299, ../scss/screen.scss */
  0% {
    width: 0px; }

  /* line 299, ../scss/screen.scss */
  100% {
    width: graphicWidthpx; } }

@-ms-keyframes html-css {
  /* line 300, ../scss/screen.scss */
  0% {
    width: 0px; }

  /* line 300, ../scss/screen.scss */
  100% {
    width: htmlWidthpx; } }

@-ms-keyframes jquery {
  /* line 301, ../scss/screen.scss */
  0% {
    width: 0px; }

  /* line 301, ../scss/screen.scss */
  100% {
    width: jqueryWidthpx; } }

@-ms-keyframes wordpress {
  /* line 302, ../scss/screen.scss */
  0% {
    width: 0px; }

  /* line 302, ../scss/screen.scss */
  100% {
    width: wordpressWidthpx; } }

@-ms-keyframes codeignieter {
  /* line 303, ../scss/screen.scss */
  0% {
    width: 0px; }

  /* line 303, ../scss/screen.scss */
  100% {
    width: codeignieterWidthpx; } }

@-ms-keyframes drupal {
  /* line 304, ../scss/screen.scss */
  0% {
    width: 0px; }

  /* line 304, ../scss/screen.scss */
  100% {
    width: drupalWidthpx; } }

@-o-keyframes graphic-design {
  /* line 306, ../scss/screen.scss */
  0% {
    width: 0px; }

  /* line 306, ../scss/screen.scss */
  100% {
    width: graphicWidthpx; } }

@-o-keyframes html-css {
  /* line 307, ../scss/screen.scss */
  0% {
    width: 0px; }

  /* line 307, ../scss/screen.scss */
  100% {
    width: htmlWidthpx; } }

@-o-keyframes jquery {
  /* line 308, ../scss/screen.scss */
  0% {
    width: 0px; }

  /* line 308, ../scss/screen.scss */
  100% {
    width: jqueryWidthpx; } }

@-o-keyframes wordpress {
  /* line 309, ../scss/screen.scss */
  0% {
    width: 0px; }

  /* line 309, ../scss/screen.scss */
  100% {
    width: wordpressWidthpx; } }

@-o-keyframes codeignieter {
  /* line 310, ../scss/screen.scss */
  0% {
    width: 0px; }

  /* line 310, ../scss/screen.scss */
  100% {
    width: codeignieterWidthpx; } }

@-o-keyframes drupal {
  /* line 311, ../scss/screen.scss */
  0% {
    width: 0px; }

  /* line 311, ../scss/screen.scss */
  100% {
    width: drupalWidthpx; } }

/*  Les desniers posts  */
/* line 315, ../scss/screen.scss */
#last_post {
  width: 940px;
  margin: 0 10px;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px; }
/* line 321, ../scss/screen.scss */
#last_post h2 {
  margin-top: 0; }
/* line 327, ../scss/screen.scss */
#last_post article {
  padding-top: 0.5em;
  margin-bottom: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  background-color: white; }
/* line 339, ../scss/screen.scss */
#last_post article h1 {
  margin-top: 0; }
/* line 347, ../scss/screen.scss */
#last_post article:after {
  clear: both;
  content: "";
  display: block;
  overflow: hidden;
  height: 1px; }
/* line 357, ../scss/screen.scss */
#last_post figure {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  margin: 0 10px;
  display: inline-block;
  margin-left: 0;
  padding: 0 10px;
  float: left; }
/* line 369, ../scss/screen.scss */
#last_post div {
  width: 620px;
  margin: 0 10px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 0;
  padding-right: 10px;
  vertical-align: top;
  float: right; }
/* line 382, ../scss/screen.scss */
#last_post div div {
  padding-left: 10px; }

/*  Footer  */
/* line 394, ../scss/screen.scss */
#footer {
  margin-top: 2em; }
/* line 398, ../scss/screen.scss */
#footer p {
  width: 940px;
  margin: 0 10px;
  display: inline-block;
  text-align: center;
  color: white;
  margin: 0.75em 0 0.5em 0; }

/*  Page contact  */
/* line 412, ../scss/screen.scss */
#contact {
  width: 620px;
  margin: 0 10px;
  display: inline-block;
  margin: 0 auto 1.5em auto;
  display: block; }

/* line 420, ../scss/screen.scss */
#contact_form {
  display: block;
  margin-left: 0; }
/* line 422, ../scss/screen.scss */
#contact_form h1 {
  font-size: 1.8em; }
/* line 432, ../scss/screen.scss */
#contact_form fieldset {
  border: none;
  margin: 0;
  padding: 0; }
/* line 440, ../scss/screen.scss */
#contact_form span {
  width: 300px;
  margin: 0 10px;
  display: inline-block;
  margin: 0;
  vertical-align: top; }
/* line 447, ../scss/screen.scss */
#contact_form span:nth-child(odd) {
  margin-right: 14px; }
/* line 454, ../scss/screen.scss */
#contact_form label {
  display: block;
  margin: 0.5em 0 0.5em 0;
  text-transform: uppercase; }
/* line 463, ../scss/screen.scss */
#contact_form input {
  width: 295px;
  display: block;
  margin: 0 0 1em 0;
  padding: 0.5em 0 0.5em 5px;
  border-width: 1px;
  width: 295px; }
/* line 476, ../scss/screen.scss */
#contact_form input[type="submit"] {
  padding-right: 0.25em;
  display: block;
  width: 302px; }
/* line 486, ../scss/screen.scss */
#contact_form textarea {
  resize: none;
  padding: 0.5em 0 0 5px;
  margin-bottom: 1em;
  max-width: 295px;
  border-width: 1px;
  max-height: 182px; }

/* line 499, ../scss/screen.scss */
#follow {
  width: 380px;
  margin: 0 10px;
  display: inline-block;
  margin: 0;
  vertical-align: top; }
/* line 506, ../scss/screen.scss */
#follow h2 {
  font-size: 1.4em; }
/* line 512, ../scss/screen.scss */
#follow fieldset {
  border: none;
  margin: 0;
  padding: 0; }
/* line 520, ../scss/screen.scss */
#follow label {
  display: block;
  margin: 1em 0 0.5em 0; }
/* line 525, ../scss/screen.scss */
#follow input {
  width: 300px;
  margin: 0 10px;
  display: inline-block;
  display: block;
  margin: 0 0 1em 0;
  padding: 0.25em 0 0.25em 0.25em;
  border-width: 1px; }
/* line 533, ../scss/screen.scss */
#follow input[type="submit"] {
  padding-right: 0.25em;
  display: block;
  width: 305px; }

/*  Portfolio  */
/* line 547, ../scss/screen.scss */
#portfolio {
  width: 940px;
  margin: 0 10px;
  display: inline-block; }
/* line 551, ../scss/screen.scss */
#portfolio a {
  text-decoration: none; }
/* line 557, ../scss/screen.scss */
#portfolio .small_img {
  width: 300px;
  margin: 0 10px;
  display: inline-block;
  float: left;
  margin: 10px 0; }
/* line 563, ../scss/screen.scss */
#portfolio .small_img:nth-child(n + 3) {
  margin-right: 0; }
/* line 569, ../scss/screen.scss */
#portfolio .small_img_2 {
  margin: 10px 20px; }
/* line 574, ../scss/screen.scss */
#portfolio .middle_img {
  width: 460px;
  margin: 0 10px;
  display: inline-block;
  float: left;
  margin: 10px 0; }
/* line 581, ../scss/screen.scss */
#portfolio .middle_img_1 {
  margin: 10px 20px 10px 0; }
/* line 586, ../scss/screen.scss */
#portfolio figcaption {
  display: block;
  margin: 0.5em 0 0 0;
  padding: 0.25em 0 0.25em 1em;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-style: italic; }
/* line 600, ../scss/screen.scss */
#portfolio .small_img figure {
  overflow: hidden;
  height: auto; }
/* line 608, ../scss/screen.scss */
#portfolio .small_img img, #portfolio .middle_img img {
  vertical-align: middle; }
/* line 614, ../scss/screen.scss */
#portfolio .small_img figcaption {
  width: 285px;
  bottom: 6px;
  left: -300px;
  transition: left linear 0.5s; }
/* line 625, ../scss/screen.scss */
#portfolio .small_img:hover figcaption, #portfolio .middle_img:hover figcaption {
  left: 0; }
/* line 631, ../scss/screen.scss */
#portfolio .middle_img figure {
  width: 460px;
  margin: 0 10px;
  display: inline-block;
  margin: 0;
  overflow: hidden; }
/* line 641, ../scss/screen.scss */
#portfolio .middle_img figcaption {
  width: 445px;
  bottom: 0;
  left: -460px;
  transition: left linear 0.5s; }
/* line 653, ../scss/screen.scss */
#portfolio figure {
  position: relative; }

/*  Single Travaux  */
/* line 663, ../scss/screen.scss */
#single_travaux {
  width: 940px;
  margin: 0 10px;
  display: inline-block;
  margin: 10px; }
/* line 668, ../scss/screen.scss */
#single_travaux figure {
  width: 460px;
  margin: 0 10px;
  display: inline-block;
  margin: 0 10px 0 0;
  float: left; }
/* line 674, ../scss/screen.scss */
#single_travaux figure img {
  vertical-align: middle; }
/* line 680, ../scss/screen.scss */
#single_travaux div {
  width: 460px;
  margin: 0 10px;
  display: inline-block;
  margin: 0 0 0 10px;
  float: right; }
/* line 688, ../scss/screen.scss */
#single_travaux h2, #single_travaux h3 {
  margin: 10px 0; }
/* line 693, ../scss/screen.scss */
#single_travaux h2:first-child {
  margin-top: 0; }
/* line 698, ../scss/screen.scss */
#single_travaux p {
  margin: 10px 0; }

/* line 705, ../scss/screen.scss */
#container_comment {
  width: 940px;
  margin: 0 10px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 20px; }

/* line 713, ../scss/screen.scss */
#comments {
  width: 460px;
  margin: 0 10px;
  display: inline-block;
  margin-left: 0;
  float: left; }
/* line 720, ../scss/screen.scss */
#comments #no_comment {
  font-weight: bold;
  font-style: italic;
  font-size: 1.1em;
  text-align: center; }
/* line 728, ../scss/screen.scss */
#comments h2 {
  margin-top: 0; }
/* line 734, ../scss/screen.scss */
#comments ol {
  list-style: none;
  margin: 0;
  padding: 0; }
/* line 741, ../scss/screen.scss */
#comments li {
  padding: 10px 0;
  margin: 10px 0;
  min-height: 60px;
  background-color: white;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
/* line 754, ../scss/screen.scss */
#comments figure {
  width: 60px;
  margin: 0 10px;
  display: inline-block;
  margin-left: 0;
  float: left; }
/* line 761, ../scss/screen.scss */
#comments li p, #comments li div {
  width: 380px;
  margin: 0 10px;
  display: inline-block;
  margin-right: 0; }
/* line 768, ../scss/screen.scss */
#comments div p {
  margin: 10px 0; }
/* line 774, ../scss/screen.scss */
#comments .metadata .author {
  font-size: 1.1em; }

/* line 784, ../scss/screen.scss */
#respond {
  width: 460px;
  margin: 0 10px;
  display: inline-block;
  float: right;
  margin-right: 0; }
/* line 790, ../scss/screen.scss */
#respond h3 {
  margin-top: 0; }

/* line 799, ../scss/screen.scss */
#commentform .logged-in-as, #commentform .form-allowed-tags, #commentform .comment-notes {
  display: none; }
/* line 804, ../scss/screen.scss */
#commentform label, #commentform input, #commentform textarea {
  width: 460px;
  margin: 0 10px;
  display: inline-block;
  margin: 0;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
/* line 812, ../scss/screen.scss */
#commentform label {
  margin: 10px 0; }
/* line 817, ../scss/screen.scss */
#commentform input, #commentform textarea {
  padding: 0.25em 0 0.25em 0.5em; }
/* line 823, ../scss/screen.scss */
#commentform p {
  margin: 0 0 20px 0;
  display: block;
  clear: both; }
