@mixin generateGrid($nbCol){
	width : calculateGrid($nbCol);
	margin: 0 $gutter/2;
	display: inline-block;
}

@mixin  skillBar( $width, $name ,$color1, $color2 ) {

	width: $width+px;

	-moz-animation: $name 2s ease-out;
	-webkit-animation: $name 2s ease-out;
	-ms-animtion: $name 2s ease-out;
	-o-animtion: $name 2s ease-out;
	animation: $name 2s ease-out ;

	background-color: $color2;
	@include background-image(linear-gradient(top, $color1, $color2));

}