@import "compass";
@import "compass/layout.scss";
@import "normalize";
@import "mixins";

/* Système de grille composé de 12 colonnes */

/* Goutière  20px */

$gutter : 20px;

/* Taille colonne 60px */

$colWidth : 60px;

@import "functions";

/*  Option générale  */

body {
	font: normal 15px Helvetica, Arial, Sans-Serif;
	line-height: 1.5;
	background-image: url('../images/wood.png');
}

#header div, #footer div, #container {

	width: 960px;
	margin: 0 auto;

}

#header, #footer {

	background-image: url('../images/subtle_carbon.png');

}

body #container {

	margin: $gutter/2 auto;

	background-image: url('../images/grid_paper.png'); 
}

#container:after, #header:after {

	clear: both;
	content: "";	
    display: block;
    overflow: hidden;
    height: 1px;

}

/*  Header  */

#logo {

	@include generateGrid(2);
	
	float: left;

	padding-top: 0.4em;

}

#header nav {

	@include generateGrid(5);

	vertical-align: top;

	float: right;
	
	& ul {
		padding: 0;
		margin: 0;
	}

	& li {
		margin: 0 0.8em;
		display: inline-block;
	}

	& a {

		display: block;		
		font-size: 1.2em;
		padding: 1.35em 0.75em;
		text-align: center;
		color: white;
		@include box-sizing(border-box);


		&:hover {

			background-image: url('../images/whiteorchid.png');
			color: black;
			font-size: 1.2em;			
			padding: 1.35em 0.75em;
		}

	}

}

/*  Bannière  */

#banner {

	@include generateGrid(12);
	margin-bottom: $gutter/2;
	margin-top: $gutter/2;

	& figure img {
		vertical-align: middle;
	}

}

/*  Sticky footer  */

@include sticky-footer( 80px, "#container", "#layout_footer", "#footer");

/*  Titre de section caché  */ 

.hidden {	

	position: absolute;
	left: -9999px;

}

/*  Presentation  */

#presentation {

	@include generateGrid(12);
	margin-bottom: $gutter/2;
	margin-top: $gutter/2;

	
	& article {
	
		@include generateGrid(6);
		vertcal-align: top;
		margin-left: 0;

		line-height: 1.6;

		& h1, & h2 {

			font-size: 1.85em;

			margin: 0;

		}

		& p {

			margin: 0.5em 0 0 0;

		}

		float: left;

	}

	& #skill {

		@include generateGrid(6);
		float:right;

		list-style-type: none;
		padding: 0px;
		margin: 0.7em 0 0 $gutter/2;

		vertical-align: top;

	}

}

/*  Barre de compétence  */

#skill li { 

	@include generateGrid(3);
	background:#e9e5e2;
	@include background-image(linear-gradient(top, #e1ddd9, #e9e5e2));
	height:20px; 

	@include border-radius(10px); 
	@include box-shadow(0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc);

	&:nth-child(odd) {

		margin: 2.5em 8px 0 0;
	}

	&:nth-child(even) {

		margin: 2em 0 0 8px;

	}

}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

	#presentation #skill li:nth-child(odd) {
		margin: 2.5em 0 0 0;
	} 

	#presentation #skill li:nth-child(even) {
		margin: 2em 0 0 8px;
	}

}

#skill li h3 { 

	text-transform: uppercase;
	font: 16px "HelveticaNeue-CondensedBold", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #9a9795;
	text-align: center;

	@include generateGrid(3);

	@include single-text-shadow( 0px 1px 1px #f8f8f8 );

	position:relative; 
	top: -25px;

}

.bar { 

	height:18px; 

	margin: 1px 2px;

	position:absolute;

	@include border-radius(10px); 
	@include box-shadow(0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9);


	@include generateGrid(3);	
	margin: 0 $gutter/2 0 0;

}

.graphic-design {

	$graphicWidth: calculateSkill( 3, 60, 20, 60 );

	@include skillBar( $graphicWidth, graphic-design, #f674a4, #e06995);

}

.html-css {

	$htmlWidth: calculateSkill( 3, 60, 20, 90 );

	@include skillBar( $htmlWidth, html-css, #f0bb4b, #d9aa44);

}

.jquery {

	$jqueryWidth: calculateSkill( 3, 60, 20, 80 );

	@include skillBar( $jqueryWidth, jquery, #a1ce5b, #91ba52);

}

.wordpress {

	$wordpressWidth: calculateSkill( 3, 60, 20, 70 );

	@include skillBar( $wordpressWidth, wordpress, #66b3cc, #5da3ba);	
}

.codeignieter {

	$codeignieterWidth: calculateSkill( 3, 60, 20, 70 );

	@include skillBar( $codeignieterWidth, codeignieter, #cc7070, #ba5d5d);

}

.drupal {

	$drupalWidth: calculateSkill( 3, 60, 20, 50 );

	@include skillBar( $drupalWidth, codeignieter, #70cc8e, #5dba5f);

}

/*  Fonction de déclanchement d'animation  */

@-moz-keyframes graphic-design {0%  { width:0px;} 100%{ width:graphicWidth+px;}  }
@-moz-keyframes html-css {0%  { width:0px;} 100%{ width:htmlWidth+px;}  }
@-moz-keyframes jquery {0%  { width:0px;} 100%{ width:jqueryWidth+px;}  }
@-moz-keyframes wordpress {0%  { width:0px;} 100%{ width:wordpressWidth+px;}  }
@-moz-keyframes codeignieter {0%  { width:0px;} 100%{ width:codeignieterWidth+px;}  }
@-moz-keyframes drupal {0%  { width:0px;} 100%{ width:drupalWidth+px;}  }

@-webkit-keyframes graphic-design { 0%  { width:0px;} 100%{ width:graphicWidth+px;}  }
@-webkit-keyframes html-css {0%  { width:0px;} 100%{ width:htmlWidth+px;}  }
@-webkit-keyframes jquery {0%  { width:0px;} 100%{ width: jqueryWidth+px;}  }
@-webkit-keyframes wordpress {0%  { width:0px;} 100%{ width:wordpressWidth+px;}  }
@-webkit-keyframes codeignieter {0%  { width:0px;} 100%{ width:codeignieterWidth+px;}  }
@-webkit-keyframes drupal {0%  { width:0px;} 100%{ width:drupalWidth+px;}  }

@-ms-keyframes graphic-design { 0%  { width:0px;} 100%{ width:graphicWidth+px;}  }
@-ms-keyframes html-css {0%  { width:0px;} 100%{ width:htmlWidth+px;}  }
@-ms-keyframes jquery {0%  { width:0px;} 100%{ width: jqueryWidth+px;}  }
@-ms-keyframes wordpress {0%  { width:0px;} 100%{ width:wordpressWidth+px;}  }
@-ms-keyframes codeignieter {0%  { width:0px;} 100%{ width:codeignieterWidth+px;}  }
@-ms-keyframes drupal {0%  { width:0px;} 100%{ width:drupalWidth+px;}  }

@-o-keyframes graphic-design { 0%  { width:0px;} 100%{ width:graphicWidth+px;}  }
@-o-keyframes html-css {0%  { width:0px;} 100%{ width:htmlWidth+px;}  }
@-o-keyframes jquery {0%  { width:0px;} 100%{ width:jqueryWidth+px;}  }
@-o-keyframes wordpress {0%  { width:0px;} 100%{ width:wordpressWidth+px;}  }
@-o-keyframes codeignieter {0%  { width:0px;} 100%{ width:codeignieterWidth+px;}  }
@-o-keyframes drupal {0%  { width:0px;} 100%{ width:drupalWidth+px;}  }

/*  Les desniers posts  */

#last_post {

	@include generateGrid(12);
	margin-bottom: $gutter/2;
	margin-top: $gutter/2;

	& h1 {

		margin: 0 0 $gutter 0;

	}

	& h2, & h3 {

		margin-top: 0;
		margin-bottom: $gutter/2;

	}

	& article {

		padding-top: 0.5em;

		margin-bottom: $gutter;

		@include border-radius( 5px );

		@include single-box-shadow( $hoff : 1px, $voff : 1px, $blur : 3px, $color : rgba( 0, 0, 0, 0.4 ) );

		background-color: white;

	}

	& article:last-child {

		margin-bottom: $gutter/2;
	}

	& article:after {

		clear: both;
		content: "";	
	    display: block;
	    overflow: hidden;
	    height: 1px;

	}

	& figure {
		
		@include box-sizing(border-box);
		@include generateGrid(4);
		margin-left: 0;
		padding: 0 $gutter/2;
		float: left;

	}



	& .extrait {

		@include generateGrid(5);
		@include box-sizing(border-box);

		vertical-align: top;

		float: left;	
	}

	& p {
		
		margin: $gutter/2 0;
	}

	& .techniques {

		@include generateGrid(3);
		@include box-sizing(border-box);

		margin: 0 0 0 $gutter/2;
		float: right;

		& ul {

			margin: 0;
			padding: 0;

			list-style: none;
		}

		& ul:after {

			
		    display: block;
		    overflow: hidden;
			clear: both;
			content: "";
			height: 0;
		}

		& li {

			@include generateGrid(1);
			float: left;
		}

		& .tech_1 , & .tech_3 {

			margin: 0 0 $gutter/2 0;
		}

		& .tech_2 {

			margin: 0 1em $gutter/2 1em;
		}

		& .no_tech, & .no_cms {

			@include generateGrid(3);
			margin: 0 auto $gutter/2 auto;
			font-size: 0.8em;
		}
	}

}

/*  Footer  */

#footer {

	margin-top: $gutter/2;

	& p {

		@include generateGrid(5);

		text-align: center;
		color: white;
		margin: 0.75em $gutter/2 0.5em $gutter/2;

	}

	& h3 {

		margin-top: 0;
		margin-bottom: $gutter/2;
		color: white;
		font-weight: normal;
		font-style: italic;
	}

	& .mc-field-group{

		@include generateGrid(3);
		margin: 0 $gutter/4;

	}

	& #mc_embed_signup {

		@include generateGrid(4);
		margin-right: 0;

		& label {

			position: absolute;
			left: -9999px;
		}
		
	}

	& input {

		@include generateGrid(3);
		margin: 0;
		@include box-sizing( border-box );
		padding: 0.25em 0.5em;
		@include border-radius( 1em 0 0 1em );
	}

	& input[ type="submit" ] {

		@include generateGrid(1);
		margin: 0;		

		@include border-radius( 0 1em 1em 0);

		&:hover {

			color: #060;
			background-color: #8f8;
			border-color: #4f4;
		}
	}

	& form {

		padding: 0.25em 0;

		@include border-radius( 2em );

		@include single-box-shadow( $hoff : 1px, $voff : 1px, $blur : 5px, $color : rgba( 255, 255, 255, 0.4 ) );

		background-color: #f1f1f1;
		background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed) );
		background: -moz-linear-gradient(top,  #fff,  #ededed);
		background: -o-linear-gradient(top,  #fff,  #ededed);
		background: -ms-linear-gradient(top,  #fff,  #ededed);

		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie7 */
		-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie8 */
	}

	& #reseaux {

		@include generateGrid(3);

	}

	& a {

		color: white;
	}

}

/*  Page contact  */

#contact {

	@include generateGrid(12);
	margin-top: $gutter/2;
	margin-bottom: $gutter/2;

	& h2 {

		@include generateGrid(10);
		display: block;
		margin: 0 auto
	}

	& form {

		@include generateGrid(10);
		display: block;
		margin: 0 auto;

		&:after {

			display: block;
			content: "";
			height: 0;
			clear: both;
		}
	}

	& label, & input, & textarea {

		@include box-sizing( border-box );
		@include generateGrid(5);
		margin: 0;
	}

	& label {

		margin: $gutter 0 $gutter/4 0;
		font-weight: bold;
		font-style: italic;
	}

	& input, & textarea {

		padding: 0.6em;
		border: none;
		@include single-box-shadow( $hoff : 1px, $voff : 1px, $blur : 3px, $color : rgba( 0, 0, 0, 0.4 ) );
	}
	
	& #left, & #right {

		@include generateGrid(5);
		padding: 0;
		border: none;
	}

	& #left {
		
		float: left;
		margin-left: 0;
	}

	& #right {

		float: right;
		margin-right: 0;

		& .erreur {

			margin-bottom: $gutter/2;
			margin-top: 0; 
		}
	}

	& textarea {

		resize: none;
		margin-bottom: $gutter/2;
		height: 7.85em;
	}

	& .erreur, & #envoyer {

		@include box-sizing( border-box );
		margin: $gutter/2 0 0 0;
		padding: 0.25em;
		text-align: center;		
		font-weight: bold;
	}

	& .erreur {

		color: #800;
		background-color: #faa;
	}

	& #envoyer {

		color: #080;
		background-color: #afa;
		font-size: 1.2em;
		margin: $gutter/2 0;
		box-shadow: none;
	}

	& input[type='submit'] {

		margin-top: 2.4em;
		border: 1px solid #999;

		&:hover {

			color: #060;
			background-color: #afa;
			font-style: italic;
		}
	}

}

/*  Portfolio  */

#portfolio {

	& img {
		
		border: 5px solid #fdfdfd;
	}

	@include generateGrid(12);

	& a {

		text-decoration: none;		
		@include single-box-shadow( $hoff : 1px, $voff : 1px, $blur : 3px, $color : rgba( 0, 0, 0, 0.4 ) );
		line-height: 0;

	}

	.small_img {

		@include generateGrid(4);
		float: left;
		margin: $gutter/2 0;
		
	}

	.small_img_2 {

		margin: $gutter/2 $gutter;
	}

	.middle_img {
	
		@include generateGrid(6);
		float: left;
		margin: $gutter/2 0;
	}

	.middle_img_1 {
		
		margin: $gutter/2 $gutter $gutter/2 0;
	}

	& h2 {

		font-size: 1em;

		display: block;
		margin: 0.5em 0 0 0;
		padding: 0.25em 0 0.25em 1em;

		position: absolute;
		line-height: 1.5;

		background-color: rgba( 0, 0, 0, 0.3 );
		color: white;
		font-style: italic;
		font-weight: normal;

		text-transform: capitalize;

	}

	& .small_img article {

		overflow: hidden;

		height: auto;

	}	

	& .small_img img, & .middle_img img {
	
		vertical-align: middle;

	}

	& .small_img h2 {
		
		width: ( ( 4 * $colWidth ) + ( $gutter * 3 ) ) - 15 ;

		bottom: 6px;
		left: -( ( ( 4 * $colWidth ) + ( $gutter * 3 ) ));

		transition: left linear 0.3s;

	}

	& .small_img:hover h2, & .middle_img:hover h2 {

		left: 0;

	}

	& .middle_img article {

		@include generateGrid(6);

		margin: 0;

		overflow: hidden;

	}

	& .middle_img h2 {
		
		width: ( ( 6 * $colWidth ) + ( $gutter * 5 ) ) - 15 ;

		bottom: 5px;
		left: -( ( ( 6 * $colWidth ) + ( $gutter * 5 ) ));

		transition: left linear 0.3s;

	}


	& article {

		position: relative;

	}

}

/*  Single Travaux  */

#single_travaux {

	@include generateGrid(12);
	margin: $gutter $gutter/2 $gutter/2 $gutter/2;

	& figure img {

		vertical-align: middle;
	}

	& .thumbnail img {

		border: 5px solid white;
		@include single-box-shadow( $hoff : 1px, $voff : 1px, $blur : 3px, $color : rgba( 0, 0, 0, 0.4 ) );
	}

	& figure, & #container_comment {

		@include generateGrid(6);
		margin: 0 $gutter/2 0 0 ;
		float: left;

	}

	& #col_right {

		@include generateGrid(6);
		margin: 0 0 0 $gutter/2;
		float: right;

		min-height: 26.5em;
	}

	& h2, & h3 {

		margin: $gutter/2 0;
	}

	& h2:first-child {

		margin-top: 0;
	}

	& p {
		
		margin: $gutter/2 0;
	}

	& #container_comment {

		display: inline-block;
		margin: $gutter 0;

	}

	& #comments {

		margin-left: 0;
	}

	& #respond {
	
		@include generateGrid(6);
		float: right;
		margin-right: 0;
		margin-top: $gutter/2;

		& h3 {

			margin-top: 0;
			margin-bottom: 0.4em;
		}

	}

}


#comments {

	@include generateGrid(6);
	margin-left: 0;

	& #no_comment {

		font-weight: bold;
		font-style: italic;
		font-size: 1.1em;
		text-align: center;
	}

	& h2 {

		margin-top: 0;
		margin-bottom: $gutter/2;

	}

	& ol {

		list-style: none;
		margin: 0;
		padding: 0;
	}

	& li {

		padding: $gutter/2 0;
		margin: $gutter/2 0;

		display: inline-block;

		min-height: $colWidth;

		background-color: white;

		@include single-box-shadow( $hoff : 1px, $voff : 1px, $blur : 3px, $color : rgba( 0, 0, 0, 0.4 ) );
		@include border-radius(10px);
	}

	& figure {

		@include generateGrid(1);
		margin-left: 0;
		float: left;
	}

	& li p , & li div {
		
		@include generateGrid(5);
		margin-right: 0;

	}

	& div p {
		margin: $gutter/2 0;
	}

	& p , & div {
			
		@include box-sizing( border-box );
		padding-right: $gutter/2;
	}

	& .metadata {

		border-bottom: 1px solid rgba( 0, 0, 0, 0.1 );

		& .comment-author {
			
			font-size: 1.1em;
			color: #2793e6;
			text-transform: capitalize;

			@include generateGrid(3);
			margin-left: 0;
		}

		& .comment-time {

			margin-top: 0.5em;
			font-size: 0.7em;
			color: #999;
			float: right;
			margin-right: $gutter/2;
		}

	}

}

#commentform {

	& .logged-in-as, & .form-allowed-tags, & .comment-notes, & .comment-form-url {

		display: none;
	}

	& label, & input, & textarea {

		@include generateGrid(6);
		margin: 0;
		display: block;
		@include box-sizing(border-box);	
	}

	& label {

		margin: $gutter/2 0;
		font-style: oblique;
		font-weight: bold
	}

	& input, & textarea {

		padding: 0.25em 0 0.25em 0.5em;

		@include single-box-shadow( $hoff : 1px, $voff : 1px, $blur : 3px, $color : rgba( 0, 0, 0, 0.5 ) );
	}

	& input[type="submit"] {

		box-shadow: none;
	}
	
	& p {

		margin: 0 0 $gutter/2 0;
		display: block;
		clear: both;

	}

	& textarea {
		 resize: none; 
	}

}

/*  IPAD   */

@media only screen and ( min-width : 768px ) and ( max-width : 959px ) {

	$gutter : 12px;
	$colWidth : 66px;

	/*  max 10 colonne  */

	#header div, #footer div, #container {

		width: 768px;
		margin: 0 auto;
	}

	#banner {

		@include generateGrid(10);
		margin-top: $gutter/2;
		margin-bottom: $gutter/2;

		& img {

			width: 756px;
		}
	}

	#presentation {

		@include generateGrid(10);
		margin-top: $gutter/2;

		& article {

			@include generateGrid(4);
			margin-left: 0;
		}

		& #skill {

			@include generateGrid(6);
			margin-right: 0;

			& li {

				@include generateGrid(3);
				margin: 0;

				&:nth-child(odd) {

					margin: 2.5em 0 0 0;
				}

				&:nth-child(even) {

					margin: 2em 0 0 $gutter/6;

				}
			}
		}
	}

}